name: Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build PR
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - build: macos-arm
            os: macos-latest
            target: aarch64-apple-darwin

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.target }}
