name: Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build

    strategy:
      matrix:
        include:
          - host_os: macos-latest
            target: aarch64-apple-darwin

    uses: ./.github/workflows/_build.yml
    with:
      host_os: ${{ matrix.host_os }}
      target: ${{ matrix.target }}
